.git
.gitignore
.vscode
node_modules
data
logs
cache
music
packaging
tests
*.log
package-lock.json
debug.txt
public/music/bin
*.md
.github
Dockerfile*
config.js
public/*.db*
public/*.sqlite*
public/*.wal
public/*.shm
public/*.log
